.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}
.Banner{
  display: flex;
  flex-direction: row;
  flex: 12;
  background-color: #161617;
  align-content: center;
  max-height: 11vh;
  width: 100%;
}
.Banner>div{
  max-height: 100%;
}

.image_logo{
  width: 200px;
}

.App-header {
  background-color: #24342a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
